langchain
langgraph~=1.0.8
langchain-community~=0.4.1
langchain-ollama
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
pytesseract~=0.3.13
pillow~=12.1.0
fastapi
uvicorn

langchain-core~=1.2.9
langchain-text-splitters~=1.1.0